* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  background-color: #FFF7ED;
}

.main--container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

/* Layout */
.layout--main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Header */

header {
  background-color: #FFF7ED;
  height: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px 0 35px;
}

.active-link {
  color: #161616;
  font-size: 16px;
  font-weight: 900;
  text-align: right;
  text-decoration: underline;
}

.header--title {
  cursor: pointer;
  color: #161616;
  font-size: 26px;
  font-weight: 900;
  line-height: 40px;
  text-decoration: none;
}

.header--nav {
  display: flex;
  gap: 20px;
}

.header--link {
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
  text-align: right;
}

.header--link:hover {
  color: #161616;
  text-decoration: underline;
}

/* Footer */

.footer {
  background-color: #161616;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer--info {
  color: #AAAAAA;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

/* Home */

.home--page {
  display: flex;
  flex-direction: column;
  background-image: url('assets/app-background.jpeg');
  background-position: center;
  background-size: 100%;
  background-repeat: repeat;
  flex: 1;
}

.home--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 30px;
  min-width: 80vh;
  margin: auto 25vh auto 25vh;
}

.home--title {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 36px;
}

.home--descr {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
}

.home--button, .vandetail--button {
  cursor: pointer;
  padding: 15px 60px 15px 60px;
  background-color: #FF8C38;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  width: 100%;
  margin-top: auto;
  text-decoration: none;
}

.home--button:active, .home--button:hover, .vandetail--button:active, .vandetail--button:hover{
  background-color: #ea7d2f;
  transform: translateY(1px);
}

/* About */

.about--page {
  background-color: #FFF7ED;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 5vh;
}

.about--image {
  width: 100%; 
  height: 25vh; 
  object-fit: cover;
  display: block; 
  margin: 0 auto; 
}

.about--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 30px;
  min-width: 80vh;
  margin: auto 30vh 0 30vh;
  box-sizing: border-box;
}

.about--title {
  color: #161616;
  font-size: 32px;
  font-weight: 700;
}

.about--descr {
  color: #161616;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.about--explore-section {
  background-color: #FFCC8D;
  width: 100%;
  border-radius: 5px;
  padding: 20px 20px 10px 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.about--explore-title {
  color: #161616;
  font-size: 22px;
  line-height: 1.7rem;
}

.about--explore-text {
  margin-bottom: 1vh;
}

.about--explore-button {
  cursor: pointer;
  background-color: #161616;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  padding: 12px 22px;
  box-sizing: border-box;
  text-decoration: none;
}

.about--explore-button:active, .about--explore-button:hover {
  background-color: #000000;
  transform: translateY(1px);
}

/* Van */

.van--page {
  padding-inline: 4.75vh;
  background-color: #FFF7ED;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.8rem;
  margin-bottom: 5vh;
}

.van--section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 34px;
}

.van--container {
  color: #161616;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-decoration: none;
}

.van--title {
  font-size: 32px;
  font-weight: 700;
  color: #161616;
}

.van--image {
  max-width: 230px;
  border-radius: 5px;
}

.van--info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.van--name {
  font-size: 20px;
  font-weight: 600;
}

.van--container:hover .van--name {
  text-decoration: underline;
}

.van--price {
  font-size: 20px;
}

.van--day {
  font-weight: 500;
  font-size: 14px;
}

.van--type {
  cursor: pointer;
  font-size: 16px;
  color: #FFEAD0;
  background-color: #E17654;
  border-radius: 5px;
  padding: 8px 15px;
  align-self: flex-start;
}

.van--type.Rugged {
  background-color: #115E59;
}

.van--type.Luxury {
  background-color: #161616;
}

.van--type:focus {
  outline: none;
}

/* Van detail page */

.vandetail--container {
  padding-inline: 4.75vh;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  margin: 2vh auto 0 auto;
  flex: 1;
}

.return-link {
  cursor: pointer;
  color: #201F1D;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 2px solid #201F1D;
  align-self: start;
}

.return-link:focus {
  color: #434242;
  translate: translateY(1px);
}

.vandetail--image {
  cursor: pointer;
  border-radius: 5px;
  margin: 2vh 0 2vh 0;
}

.vandetail--name {
  color: #161616;
  font-size: 32px;
  font-weight: 700;
}

.vandetail--price {
  font-size: 20px;
  font-weight: 500;

}

.vandetail--price > span {
  font-weight: 700;
  font-size: 24px;
}

.vandetail--descr {
  color: #161616;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 2vh;
}

.vandetail--button {
  margin-bottom: 6vh;
}

/* Host Layout */

.hostlayout--main {
  margin-top: 2vh;
}

.hostlayout--main > * {
  padding-inline: 4.75vh;
}

.hostlayout--header {
  padding-inline: 4.75vh;
  display: flex;
  gap: 40px;
  margin-bottom: 5vh;
}

.hostlayout--link {
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  text-align: right;
}

.hostlayout--link:hover {
  color: #161616;
  text-decoration: underline;
}

.host--active-link {
  color: #161616;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  text-decoration: underline;
}

/* Host Van */

.hostvan--page {
  padding-inline: 4.75vh;
  background-color: #FFF7ED;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-bottom: 5vh;
}

.hostvan--page  > h2 {
  font-size: 32px;
  font-weight: 700;
}

.hostvanlist--main {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #161616;
  border-radius: 6px;
  padding-inline: 4.75vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vh;
  padding: 2vh 4.75vh 2vh 4.75vh;
  text-decoration: none;
}

.hostvanlist--image {
  max-width: 70px;
  border-radius: 5px;
}

.hostvanlist--name {
  font-size: 20px;
  font-weight: 600;
}

.hostvanlist--price {
  color: #4D4D4D;
}

/* Host Van Detail */

.hostvandetail--page {
  padding-inline: 4.75vh;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-bottom: 5vh;
}

.hostvandetail--main {
  background-color: #FFFFFF;
  padding: 4.75vh;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

.hostvandetail--info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vh;
}

.hostvandetail--image {
  max-width: 170px;
  border-radius: 5px;
  margin: 2vh 0 2vh 0;
}

.hostvandetail--info-text {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.hostvandetail--info-text > h2 {
  font-size: 26px;
  font-weight: 700;
  margin-top: 1vh;
}

.hostvandetail--main > nav {
  display: flex;
  gap: 20px;
  margin-bottom: 2vh;
}

/* Host Van Info */

.hostvaninfo--main {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.hostvaninfo--main > h4 {
  color: #161616;
  font-size: 14px;
  font-weight: 700;
}

.hostvaninfo--main > h4 > span {
  font-weight: 500;
}

/* Host Van Pricing */

.hostvanpricing--price{
  color: #161616;
  font-size: 24px;
  font-weight: 500;
}

.hostvanpricing--price > span {
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 700;
}

/* Media queries for mobiles */

@media only screen and (max-width: 767px) {
  /* Home */

  .home--main {
    min-width: 40vh;
    height: 450px;
  }

  /* About */

  .about--container {
    min-width: 30vh;
  }

  /* Van page */
  .van--page {
    margin: 2vh 5vh 0 5vh;
  }

  .van--container {
    width: 20vh;
  }

  .van--title {
    font-size: 28px;
    margin-left: 0;
  }

  /* Van detail page */
  .vandetail--container {
    max-width: 380px;
    margin: 0 2vh 0 2vh;
  }

}

/* Media queries for computers */

@media only screen and (min-width: 768px) {
  /* Van page */

  .van--section {
    grid-template-columns: repeat(3, 1fr);
  }
}