* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

/* Header */

header {
  background-color: #FFF7ED;
  height: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px 0 35px;
}

.header--title {
  font-size: 26px;
  font-weight: 900;
  line-height: 40px;
}

.header--nav {
  display: flex;
  gap: 20px;
}

.header--link {
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  text-align: right;
}